<div>
  <nav class="navbar navbar-default">
    <div  class="collapse navbar-collapse">
      <a class="navbar-brand">{{PageTitle}}</a>
      <ul class="nav navbar-nav">
        <li lass="nav-item">
          <a class="nav-link" [routerLink]="['/home']" >Home</a>
        </li>
        <li lass="nav-item">
          <a class="nav-link" [routerLink]="['/addproduct']" >Add Product</a>
        </li>  


      
      </ul>
     
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a  class="nav-link" [routerLink]="['/login']">Log In</a>
              </li> 

        </ul>
      
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
    <footer></footer>
  </div>
</div>